[Unit]
Description=Start the project zomboid server script as a service
AssertPathExists=/home/steam/pz/start-server.sh

[Service]
RemainAfterExit=yes
Restart=always
RestartSec=10
StartLimitInterval=0
TimeoutStartSec=0
ExecStart=/bin/sh -c '/home/steam/pz/start-server.sh -servername adventurebrave -adminpassword YourPasswdXYZ -cachedir="/home/steam/pz"'

[Install]
WantedBy=multi-user.target
